h1 {
  text-align: center;
  color: white;
  font-size: 60px;
  text-align: center
}

th, td {
  border: 1px solid;
  padding: 12px;
  text-align: center;
  color: white;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
}
	
body {
  background-image: url("../images/background.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
}

img {
  height: 200px;
  width: 200px;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  text-align:center; 
  margin-left:auto; 
  margin-right:auto; 
  color: white;
}
