body{
	background-color: white;
	background-image: url("../images/background.jpg");
}
h1{
  font-family: sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 50px;
  text-decoration: underline;
  text-underline-offset: 3px;
}
td{
  text-align: center;
  table-layout: fixed;
  height: 60px;
  border-radius: 5px;
}
th, td {
  border: 1px solid;
  padding: 12px;
  text-align: center;
  color: white;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
}
img{
    height: 200px;
    width: 300px;
}
