body{
	background-color: white;
	background-image: url("../images/background.jpg");
}
h1{
  font-family: FELIX TITLING;
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 50px;
  text-decoration: underline;
  text-underline-offset: 2px;
}
td{
  text-align: center;
  table-layout: fixed;
  height: 60px;
  border-radius: 5px;
}
img{
    height: 200px;
    width: 300px;
}
